.main {
    margin-top: 167px;
    margin-bottom: 173px;
    display: flex;
}

.view {
    display: flex;
}

.smallView {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
}

.small {
    width: 111px;
    height: 139px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.small:first-child {
    margin-bottom: 52px;
}

.main_view {
    width: 475px;
    height: 591px;
    margin-left: 119px;
    margin-right: 141px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.text,
.white_button,
.black_button,
.small_button {
    font-size: 22px;
    line-height: 31.79px;
    color: var(--text-color);
}

.title {
    margin-top: 33px;
    text-align: center;
}

.name {
    height: 105px;
}

.about {
    height: 103px;
    margin-top: 28px;
    margin-bottom: 44px;
}

.white_button {
    padding: 17px 140px 16px 140px;
    width: 443px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    margin-bottom: 22px;
    cursor: pointer;
    transition: background-color 200ms linear;
    transition: color 200ms linear;
}

.buttons {
    display: flex;
    align-items: center;
}

.black_button {
    color:  var(--button-text-color);
    background-color: var(--button);
    width: 377px;
    height: 68px;
    padding: 17px 74px 16px 140px;
    border: 1px solid var(--border-color);
    transition: background-color 200ms linear;
    transition: color 200ms linear;
}

.small_button {
    background-color: var(--background-color);
    border: 1px solid  var(--border-color);
    width: 64px;
    height: 68px;
    box-sizing: border-box;
    transition: background-color 200ms linear;
    transition: color 200ms linear;
}

.plus {
    width: 24.22px;
    padding: 22px 19px 21px 15px;
}