

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    width: 163px;
    border-right: 1px solid var(--border-color);
    height: 100%;
    padding-top: 12px;
    color: var(--text-color);
    transition: color 500ms linear;
}

.title {
    font-size: 32px;
    line-height: 46px;
    width: 394px;
    text-align: center;
    height: 100%;
    padding-top: 8px;
    color: var(--text-color);
}
.search {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    height: 100%;
    padding: 14px 12px 0 12px;
    color: var(--text-color);
}
.input {
    border-radius: 48px;
    width: 333px;
    height: 29px;
    background-color: var(--input-color);
    border: solid 1px var(--border-color);
    padding: 8px 0 0 20px;
}

.input::placeholder {
    text-align: center;
    font-size: 22px;
    color: var(--text-color);
    line-height: 31.79px;
}
.icons {
    display: flex;
}
.icon {
    width: 21.88px;
    height: 21.88px;
    padding: 14px 14px 14px 14px;
    padding-right: 14px;
    color: var(--icon-color);
}

.icon:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

.item, .icon , .title {
    cursor: pointer;
}