@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.App {
    font-family: 'Jost', sans-serif;
    margin: auto;
    background-color: var(--background-color);
    transition: background-color 500ms linear;
}

p {
    margin: 0;
}