body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #FFFFFF;
  --border-color: #FFFFFF;
  --input-color: #181818;
  --button: #FFFFFF;
  --button-text-color: #000000;
  --icon-color: #FFFFFF;
 
}

html[data-theme='light'] {
  --background-color: #FFFFFF;
  --input-color: #E7E7E7;
  --text-color:  #000000;
  --icon-color:  #000000;
  --border-color: #000000;
  --button: #000000; 
  --button-text-color: #FFFFFF;

}